noderedflow/flow.txt
[{"id":"5c6ebf93.a3914","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"temp","commandType":"","format":"","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":83,"y":52,"z":"46853387.b97acc","wires":[["cb409d14.34bf6"]]},{"id":"67c86971.983798","type":"debug","name":"","active":true,"console":"false","complete":"payload.d","x":491,"y":45,"z":"46853387.b97acc","wires":[]},{"id":"890eb8f6.76f148","type":"debug","name":"","active":true,"console":"false","complete":"Button1","x":483,"y":178,"z":"46853387.b97acc","wires":[]},{"id":"cb409d14.34bf6","type":"switch","name":"IsButton1Pressed","property":"payload.d.Button1","rules":[{"t":"neq","v":"50"},{"t":"eq","v":"50"}],"checkall":"true","outputs":2,"x":273,"y":52,"z":"46853387.b97acc","wires":[["67c86971.983798"],["fb34158a.04cbe8"]]},{"id":"fb34158a.04cbe8","type":"function","name":"ChangeOutputText","func":"msg.Button1 = \"Button 1 has been pressed\";\nreturn msg;","outputs":1,"valid":true,"x":266,"y":178,"z":"46853387.b97acc","wires":[["890eb8f6.76f148"]]}]